form{
    margin-top: 20px;  margin-left: 40px;
}
.formulaire{
    background-color: rgb(187, 129, 148);
    margin: auto;
    margin-top: 50PX;
    max-width: 400px;
    border-radius: 20PX;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    
}
button{
    width: 75%;
   border-radius: 20px;
   padding: 8px;
   background-color: rgb(150, 144, 146);
   font-size: 20px;
   font-weight: bold;
   margin-top: 8px;
   cursor: pointer;
}
#result {
    background-color: rgb(187, 129, 148);
    margin: auto;
    margin-top: 50PX;
    max-width: 400px;
    border-radius: 20PX;
    text-align: center;

}
input{
    width: 100%;
    margin: 10px 0px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px gray solid;
    padding: 10px 6px;
    font-size:15px ;
}
}
