h1{ color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;

}
form{

    margin-top: 20px;  margin-left: 40px;
}
.formulaire{
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgb(187, 129, 148);
    margin: auto;
    margin-top: 50PX;
    max-width: 400px;
    border-radius: 20PX;
    text-align: center;
    box-sizing: border-box;
    padding: 40px;
    
}
button{
    width: 75%;
   border-radius: 20px;
   padding: 8px;
   background-color: rgb(150, 144, 146);
   font-size: 20px;
   font-weight: bold;
   margin-top: 8px;
   cursor: pointer;
}
#result {
    background-color: rgb(187, 129, 148);
    margin: auto;
    margin-top: 50PX;
    max-width: 400px;
    border-radius: 20PX;
    text-align: center;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    font-size: large;
    line-height: 40px;
    display: none;
    width: 500px;
    border-radius: 20px;

}
/*
input{ imprimier 
    width: 100%;
    margin: 10px 0px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px rgb(255, 255, 255) solid;
    padding: 10px 6px;
    font-size:15px ;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
}
*/
@media print {
    form ,  button {
        display: none;
    }

 
}
