/* .pb-3{
  background-size:100% 100% ;
  width: 100%;
  height : 100% ;
} */
.d-flex .pb-3 {
  background-color:rgb(219, 186, 219) ;
  border-radius : 5px;
  margin-top:-40px ;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom:30px;
      background: #b0e6de31;
      background: -moz-linear-gradient(left,#4c72bd  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#776565  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#615c5c  0%,#5543ca  100%) !important;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }
 
body{
    /* background: -webkit-linear-gradient(to right, #3c096c,#7b2cbf ); */
    background:url('image.jpg')
}
input {
    border: 1px solid #ffbe0b;
}

.input-group-text{
    width: 100px;
}
.color{
    background-color: #c77dff!important;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  table, td, th {
    border: 1.5px solid rgb(122, 117, 117);
    background-color: #f2f2f2b0;
  }
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  tr:nth-child(even) {background-color: #817e7e;}
  th{
    background-color: #565856;
    color: white;
  }
  td{
      width: 30%;
  }
  input[type="text" i] {
    padding: 8px;
    width: 80%;
}

.btn{
  background-color: #3c096c;
  margin: auto;
}

.container{
height: 600px;
}